body {
  font-family: "Raleway", sans-serif;
  background-image: linear-gradient(to right, #ff6600, #ffcc00);
}
header {
  background-color: black;
  color: white;
  padding: 20px;
}
h1 {
  font-size: 40px;
}
p {
  font-size: 20px;
}
section {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
img {
  width: 50%;
}
footer {
  background-color: black;
  color: white;
  padding: 20px;
}
img {
  width: 100px;
}
form {
  margin-top: 20px;
}
input {
  width: 200px;
  padding: 10px;
  border: 1px solid silver;
}
input[type="submit"] {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
}
img:hover {
  transform: scale(1.1);
  transition: 1s;
}
h1:hover {
  color: orange;
}
p:hover {
  color: red;
}